/* Import  */
@import url("https://fonts.googleapis.com/css2?family=Story+Script&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #000b58;
  --secondary-color: #003161;
  --light-blue-color: #006a67;
  --medium-yellow-color: #fff4b7;
}

/* */
body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
    50deg,
    var(--light-blue-color),
    var(--medium-yellow-color)
  );
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background: linear-gradient(
    50deg,
    var(--light-blue-color),
    var(--medium-yellow-color)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 10px 30px var(--medium-yellow-color);
  border: 2px solid var(--light-blue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Title */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
  /* border: 2px solid black; */
}
.title-container h2 {
  font-size: 32px;
  color: var(--primary-color);
  font-family: "Story Script", cursive;
}
.title-container img {
  width: 38px;
}

/* To do list */
.todo-list-container {
  width: 100%;
  max-width: 480px;
  padding: 30px 20px;
  border-radius: 20px;
  align-self: center;
  /* border: 2px solid red ; */
}
.add-container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
#task-input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background: var(--medium-yellow-color);
}
.add-container #add-btn {
  padding: 12px 20px;
  border: none;
  background: var(--primary-color);
  color: var(--medium-yellow-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.add-container #add-btn:hover {
  background: var(--secondary-color);
  transition: 0.3s;
}
#task-list {
  padding: 0;
}
#task-list li {
  list-style: none;
  background: var(--medium-yellow-color);
  margin-bottom: 5px;
  /* margin-right: px; */
  padding: 12px 16px ;
  border-radius: 12px;
  font-size: 18px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px var(--primary-color);
  animation: fadeIn 0.3s ease;
}
#task-list li:hover {
  transform: translateX(10px);
  transition: 0.3s ease;
}

.p-check-task {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  /* border: 2px solid black; */
}
.circle-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}
.circle-checkbox input {
  display: none;
}
.circle-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
/* when checked --> fill the circle */
.circle-checkbox input:checked + .checkmark {
  background-color: #000b58;
}
.delete-btn {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.delete-btn img {
  width: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 430px) {
  .add-container {
    flex-direction: column;
  }

  #add-btn {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 430px) {
  .add-container {
    flex-direction: column;
  }

  #add-btn {
    width: 50%;
    align-self: center;
  }

  #task-list li{
    margin-right:0 ;
  }
}